extends layout

block content
  h1 Volunteer Broadcast

  form(action="/admin/broadcast", method="POST")
    .form-group
      label(for="Message") Message
      textarea#message.form-control
    .form-group
      label(for="type") Volunteer Type
      select#type.form-control
        option(value="Restaurant") Restaurant
        option(value="Supplier") Supplier
        option(value="General") General Help
        option(value="Test") Test Group
    button.btn.btn-primary(type="submit") Send Message

  script(src="/js/admin/broadcast.js")