extends layout

block content
  h1 Meal Donation Admin

  p.
    You are logged in as an administrator. You can <a href="/admin/volunteers">manage
    volunteer contributors</a> or <a href="/admin/events">manage events that 
    require donations</a>.