.form-group
  label(for="firstName") First Name
  input#firstName.form-control(type="text")
.form-group
  label(for="lastName") Last Name
  input#lastName.form-control(type="text")
.form-group
  label(for="email") E-Mail
  input#email.form-control(type="email")
.form-group
  label(for="phone") Phone
  input#phone.form-control(type="tel")
.form-group
  label(for="organization") Org/Business Name
  input#organization.form-control(type="text")
.form-group
  label(for="type") Volunteer Type
  select#type.form-control
    option(value="chef") Chef/Restaurant
    option(value="supplier") Supplier
    option(value="general") General Help