extends ../layout

block content
  h1 New Volunteer
  p
    a(href="/admin/volunteers") &lt;&lt; Back to all volunteers

  form(action="/admin/volunteers", method="POST")
    include _volunteers_fields
    button.btn.btn-primary(type="submit") Create Volunteer

  
